name = "ClimaLand"
uuid = "08f4d4ce-cf43-44bb-ad95-9d2d5f413532"
authors = ["Clima Land Team"]
version = "0.10.0"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
ArtifactWrappers = "a14bc488-3040-4b00-9dc1-f6467924858a"
CFTime = "179af706-886a-5703-950a-314cd64e0468"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
ClimaComms = "3a4d1b5c-c61d-41fd-a00a-5873ba7a1b0d"
ClimaCore = "d414da3d-4745-48bb-8d80-42e94e092884"
ClimaCoreTempestRemap = "d934ef94-cdd4-4710-83d6-720549644b70"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
HTTP = "cd3eb016-35fb-5094-929b-558a96fad6f3"
Insolation = "e98cc03f-d57e-4e3c-b70c-8d51efe9e0d8"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NCDatasets = "85f8d34a-cbdd-5861-8df4-14fed0d494ab"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
SurfaceFluxes = "49b00bb7-8bd4-4f2b-b78c-51cd0450215f"
Thermodynamics = "b60c26fb-14c3-4610-9d3e-2d17fe7ff00c"
cuDNN = "02a925ec-e4fe-4b08-9a7e-0d78e3d38ccd"

[weakdeps]
CLIMAParameters = "6eacf6c3-8458-43b9-ae03-caf5306d3d53"

[extensions]
CreateParametersExt = "CLIMAParameters"

[compat]
Adapt = "3, 4"
ArtifactWrappers = "0.2"
CFTime = "0.1"
CLIMAParameters = "0.9"
CSV = "0.10"
CUDA = "5"
ClimaComms = "0.5.6"
ClimaCore = "0.12"
ClimaCoreTempestRemap = "0.3"
DataFrames = "1"
Dates = "1"
DocStringExtensions = "0.8, 0.9"
Flux = "0.14"
HTTP = "1.10"
Insolation = "=0.9.1"
IntervalSets = "0.5, 0.6, 0.7"
LinearAlgebra = "1"
NCDatasets = "0.11, 0.12, 0.13, 0.14"
SciMLBase = "1, 2"
StaticArrays = "1"
StatsBase = "0.34"
SurfaceFluxes = "0.9"
Thermodynamics = "=0.12.3"
cuDNN = "1"
julia = "1.9"
