name = "ClimaLSM"
uuid = "7884a58f-fab6-4fd0-82bb-ecfedb2d8430"
authors = ["Clima Land Team"]
version = "0.2.1"

[deps]
ArtifactWrappers = "a14bc488-3040-4b00-9dc1-f6467924858a"
CLIMAParameters = "6eacf6c3-8458-43b9-ae03-caf5306d3d53"
ClimaComms = "3a4d1b5c-c61d-41fd-a00a-5873ba7a1b0d"
ClimaCore = "d414da3d-4745-48bb-8d80-42e94e092884"
ClimaCoreTempestRemap = "d934ef94-cdd4-4710-83d6-720549644b70"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
NCDatasets = "85f8d34a-cbdd-5861-8df4-14fed0d494ab"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
SurfaceFluxes = "49b00bb7-8bd4-4f2b-b78c-51cd0450215f"
Thermodynamics = "b60c26fb-14c3-4610-9d3e-2d17fe7ff00c"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"

[compat]
ArtifactWrappers = "0.2"
CLIMAParameters = "0.7.0"
ClimaComms = "0.3"
ClimaCore = "0.10.18"
ClimaCoreTempestRemap = "0.3"
DocStringExtensions = "0.8, 0.9"
IntervalSets = "0.5, 0.6, 0.7"
JLD2 = "0.4"
NCDatasets = "0.11, 0.12"
StaticArrays = "1"
SurfaceFluxes = "0.5.0"
Thermodynamics = "0.9.2, 0.10"
UnPack = "1"
julia = "1.8"
