name: ci
on:
  push:
    tags: '*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ci ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1.12'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - name: Cache Julia depot
        uses: actions/cache@v4
        with:
          # Cache Julia's depot
          path: |
            ~/.julia/packages
            ~/.julia/compiled
            ~/.julia/artifacts
            ~/.julia/scratchspaces
            ~/.julia/registries
            ~/.julia/logs
          # The cache key includes the OS, Julia version, and the project's dependencies
          key: ${{ matrix.os }}-julia-${{ matrix.version }}-${{ hashFiles('**/Project.toml', '**/Manifest.toml') }}
          # Fallback keys to use if the primary key isn't found
          restore-keys: |
            ${{ matrix.os }}-julia-${{ matrix.version }}-
            ${{ matrix.os }}-julia-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
        with:
          file: lcov.info
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{secrets.CODECOV_TOKEN}}
